@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap");
html {
  font-size: 50%;
  overflow-x: hidden;
}
:root {
  --background-color: #e67e22;
  --main-heading: 2rem;
  --secondary-heading: 1.8rem;
  --tertiary-heading: 1.6rem;
  --primary-text: 1rem;
  --line-height-heading: 1.1;
  --line-height-text: 1.3;
}

/* reset styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* resuable utility classes styling */
.container {
  padding: 0 2em;
}
.center__text {
  text-align: center;
}
.subheading {
  font-size: 1rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6em;
  letter-spacing: 0.75px;
}
.plan__title {
  color: #cf711f;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}
.btn {
  padding: 0.5em 0.8em;
  border-radius: 9px;
}
.btn__primary {
  background-color: var(--background-color);
}
.text__primary {
  font-size: 1rem;
  line-height: var(--line-height-text);
  color: #333;
  /* text-align: center; */
  margin-bottom: 2em;
}

.secondary__heading {
  font-size: var(--secondary-heading);
  line-height: var(--line-height-heading);
  color: #333;
  font-weight: 700;
}
.tertiary__heading {
  font-size: var(--tertiary-heading);
  line-height: var(--line-height-heading);
  color: #333;
  font-weight: 500;
}
/* general styling */

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 400;
  /* width: 90vw;
  margin: 0 auto; */
  overflow-x: hidden;
}

/* header section styling */
.header {
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5em;
  background-color: #fdf2e9;
}
.brand .logo {
  width: 160px;
  height: 20px;
}
.main__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 105vh;
  background-color: #fae5d3;
  display: none;
}
.nav__items {
  margin: auto;
  margin-top: 100px;
  padding: 1em 0;
}
.nav__item a {
  font-size: 1.5rem;
  display: block;
  padding: 0.5em 0;
  text-align: center;
  color: #333;
}
.nav__item.special a {
  color: #fff;
}
.menu__btn {
  width: 60px;
  height: 60px;
  position: relative;
}
.menu__btn .fas {
  font-size: 1.2rem;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show {
  display: flex;
}

/* header styling ends  */

/* hero section styling */
.hero__section {
  min-height: 100vh;
  background-color: #fdf2e9;
  padding: 2em 0;
}

.hero__heading {
  font-size: var(--main-heading);
  font-weight: 700;
  margin-bottom: 2em;

  line-height: var(--line-height-heading);
  color: #333;
  letter-spacing: 0.75px;
}
.hero__text {
  font-size: 1rem;
  line-height: var(--line-height-text);
  color: #333;

  margin-bottom: 2em;
}
.hero__btns {
  margin-bottom: 2em;
  text-align: center;
}
.hero__btns a {
  display: inline-block;
}
.hero__btns a:first-child {
  margin-bottom: 0.5em;
  color: #fff;
}
.hero__btns a:last-child {
  color: #555;
  background-color: #fff;
}
.delivery__box {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
}
.delivery__imgs {
  display: flex;
  justify-content: center;
}
.delivery__imgs img {
  width: 20%;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  margin-left: -5%;
}
.delivery__text span {
  color: #e67e22;
}
.hero__img {
  text-align: center;
  padding: 2em 0;
}
.hero__img img {
  width: 80%;
}

/* featured section */
.featured__container {
  padding: 2em 0;
}
.featured__heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  color: #888;
  font-weight: 500;
  margin-bottom: 1em;
}
.featured__logos {
  display: flex;
  justify-content: space-around;
}
.featured__logos img {
  width: 10%;
  opacity: 50%;
  filter: brightness(0);
}

/* how it works section */

h2.secondary__heading {
  padding: 0.25em;
  margin-bottom: 1em;
}
.step__content {
  padding: 0.5em;
}
.step__number {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 0.25em;
}
.step__para {
  color: #555;
  margin-top: 1em;
}
.step__pic {
  /* height: 600px; */
  padding: 1em 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.step__pic::before,
.step__pic::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step__pic::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: #fdf2e9;
  z-index: -2;
}
.step__pic::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.step__pic img {
  width: 35%;
}

/* meals section styling */
.meals {
  padding: 2em 1em;
}
.menu {
  border-radius: 0 0 11px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.288);
  margin-bottom: 1em;
}
.menu img {
  width: 100%;
  border-radius: 11px 11px 0 0;
}
.meals__content {
  padding: 0.5em;
  text-align:center;
}
.tags {
  padding: 0.5em 0;
}
.tag {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.4em 0.8em;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 20px;
  color: #333;
}
.vegeterian {
  background-color: #51cf66;
}
.vegan {
  background-color: #94d82d;
}
.paleo {
  background-color: #ffd43b;
}
.meal__title {
  color: #333;
  margin-bottom: 0.5em;
}
.meals .fas,
.meals .far {
  color: #e67e22;
  margin-right: 30px;
}
.meals li,
.diet li {
  padding: 1em;
  
}
.diet li::before {
  content: "\2713";
  color: #e67e22;
  margin-right: 20px;
}
.see__all {
  text-align: center;
}
.see__all a {
  padding: 0.5em;
  color: #e67e22;
}

/* testimonials section styling */
.testimonials__section {
  background-color: #fdf2e9;
}
.testimonials {
  padding: 2em;
}
.feedback {
  margin-bottom: 1em;

  padding: 1em;
}
.feedback img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-bottom: 1em;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1em;
  padding: 2em 1em;
}
.gallery img {
  width: 22%;
  margin: 0 0.5%;
  height: auto;
  object-fit: cover;
}

/* pricing section styling */
.pricing__section {
  text-align: center;
  padding: 2em 0;
}
.pricing__cards {
  margin-bottom: 2em;
}
.pricing__card {
  margin-bottom: 1em;
  padding: 2em;
  border-radius: 11px;
}
.price__text {
  color: #6f6f6f;
  font-weight: 600;
  line-height: 1.4;
}
.price__text span {
  color: #333;
}
.cost {
  font-size: 4rem;
  font-weight: 700;
}
.pricing__card ul {
  margin: 2em 0;
}
.pricing__card li {
  text-align: left;
  padding: 1em;
  margin-bottom: 0.5em;
}
.pricing__card ul li::before {
  content: "\2714";
  color: #e67e22;
  margin-right: 10px;
}
.pricing__card:first-child ul li:last-child:before {
  content: "\2716";
  color: #e67e22;
  margin-right: 10px;
}
.btn__pricing {
  display: inline-block;
  color: #fff;
}
.pricing__card:nth-child(1) {
  border: 2px solid #fdf2e9;
}
.pricing__card:nth-child(2) {
  position: relative;
  overflow: hidden;
  background-color: #fae5d3;
}
.pricing__card:nth-child(2)::after {
  content: "best value";
  background-color: #ffd43b;
  color: black;
  text-transform: uppercase;
  padding: 0.5rem 6rem;
  position: absolute;
  top: 2%;
  right: -20%;
  text-align: center;
  transform: rotate(45deg);
}

/* benefits section styling */
.benefit {
  padding: 2em 1em;
}
.benefit span {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf2e9;
}
.benefit .fas,
.benefit .fab {
  color: #e67e22;
  font-size: 30px;
}
.benefit h3 {
  margin: 0.5em;
}

/* cta section styling */
.cta__image {
  position: relative;
}
.cta__image img {
  width: 100%;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(235, 151, 78, 0.35),
    rgba(230, 125, 34, 0.35)
  );
}
.cta__content {
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  color: #45260a;
  padding: 1em;
}
.form__group {
  margin: 1em 0;
}
label,
input,
select {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5em;
  border: none;
  border-radius: 9px;
}
[type="submit"] {
  color: #fdf2e9;
  background-color: #45260a;
  padding: 1.5em 1em;
}

/* footer section styling */
.inner__heading {
  color: #555;
  font-weight: 500;
}
.footer {
  display: flex;
  flex-direction: column;
}

.users__info,
.company__info {
  display: flex;
  justify-content: space-around;
  padding: 1em 0.5em;
}
.users__info {
  display: flex;
  order: -1;
}
.users__info ul {
  margin-top: 2em;
}
.users__info li {
  margin: 0.5em 0;
}
.users__info li a {
  display: block;
  padding: 0.5em 0;
  color: #767676;
}

.company__info img {
  width: 50%;
}

.location,
.details {
  padding: 1em;
}
.location,
.details {
  display: flex;
  flex-direction: column;
}
.details p {
  margin-top: auto;
}
.social {
  margin-top: 2em;
}
.social span:nth-child(2) {
  margin: 0 2em;
}
.location address {
  margin: 3em 0;
  font-style: normal;
}
.location a {
  color: #767676;
  display: block;
}
